@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --van-border-color: #eee;
}

* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  margin: 0;
}

img {
  -webkit-touch-callout: default !important;
}

input,
textarea {
  -webkit-user-select: auto !important;
  user-select: auto !important;
}

html,
body {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  position: fixed;
}

#app {
  width: 100%;
  height: 100%;
  font-family: "PingFang SC", "Microsoft YaHei", "微软雅黑", "宋体",
    "Arial", "Helvetica", "sans-serif";
  color: #222;
  font-size: 16px;
  background: white;
}

input::-webkit-input-placeholder {
  color: #949fb4;
}

.oneline {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.twoline {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

// 序号角标样式
@mixin sign-style {
  .highlight-text {
    cursor: pointer;
    user-select: none;
  }
}
@mixin content-style {
  pre,
  code {
    font-size: 14px;
    font-family: Roboto, "Courier New", Consolas, Inconsolata, Courier,
      monospace;
    margin: auto 5px;
  }

  code {
    white-space: pre-wrap;
    border-radius: 2px;
    display: inline;
  }

  pre {
    font-size: 15px;
    line-height: 1.4em;
    display: block;
  }

  pre code {
    white-space: pre;
    overflow: auto;
    border-radius: 3px;
    padding: 1px 1px;
    display: block !important;
  }

  strong,
  b {
    color: #222222;
  }

  em,
  i {
    color: #222222;
  }

  hr {
    border: 1px solid #ddd;
    margin: 1em auto;
  }

  p {
    margin: 0px !important;
    padding: 0 !important;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-align: inherit;
    background: transparent;
    border: none;
  }
  pre,
  dl,
  blockquote,
  q,
  ul,
  ol {
    margin: 10px 0;
  }

  ul,
  ol {
    padding-left: 15px;
  }

  li {
    margin: 10px;
  }

  li p {
    margin: 10px 0 !important;
  }

  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin: 0;
    padding-left: 10px;
  }

  ul {
    list-style-type: circle;
  }

  dl {
    padding: 0;
  }

  dl dt {
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
  }

  dl dd {
    margin: 0 0 10px;
    padding: 0 10px;
  }

  blockquote,
  q {
    border-left: 2px solid #222222;
    padding: 0 10px;
    color: #777;
    quotes: none;
    margin-left: 1em;
  }

  blockquote::before,
  blockquote::after,
  q::before,
  q::after {
    content: none;
  }

  h1,
  h2 {
    margin: 5px 0 5px;
    padding: 0;
    font-style: bold !important;
    text-align: center !important;
    padding: 0.5em 1em !important;
  }

  h3,
  h4,
  h5,
  h6 {
    margin: 5px 0 5px;
    padding: 0;
    font-style: bold !important;
    text-align: left !important;
    padding: 0.5em 1em !important;
  }

  h1 span,
  h2 span {
    display: inline-block;
    color: #222222;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  h3 span,
  h4 span,
  h5 span,
  h6 span {
    border-left: 4px solid #ddd;
    margin: 2em 8px 0.75em 0;
    color: #222222;
    font-weight: bold;
    border-bottom: 1px dashed #ddd;
  }

  h1 {
    font-size: 24px !important;
    border-bottom: 1px solid #ddd !important;
  }

  h2 {
    font-size: 20px !important;
    border-bottom: 1px solid #eee !important;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }
}

@mixin table-style {
  table {
    min-width: 100%;
    border-collapse: collapse; /* 边框合并 */
    font-size: 14px;
  }
  /* 设置表头的样式 */
  th {
    color: #333;
    padding: 10px;
    text-align: left;
    border: none;
    font-weight: normal;
    white-space: nowrap;
    background: #e0e2eb;
  }
  tr {
    border: none;
    background-color: #f7f8fa;
  }
  tr:nth-child(odd) {
    background-color: #f1f2f6;
  }
  td {
    color: #333;
    padding: 5px 10px;
    border: none;
    text-align: left;
    white-space: nowrap;
  }
  th:first-child,
  td:first-child {
    padding-left: 19px; /* 第一列左边距 */
  }
  th:last-child,
  td:last-child {
    padding-right: 19px; /* 最后一列右边距 */
  }
}

// 消息里面的富文本样式
.message,
.content {
  font-size: 15px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  @include sign-style;
  @include content-style;
  @include table-style;
  overflow-y: hidden;
  table {
    width: calc(100% - 100px) !important;
    display: block;
    overflow-x: auto;
    white-space: nowrap; /* 保持表格不换行 */
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
    font: inherit;
    border: 0;
    margin: 0 auto;
  }
  tbody {
    margin: 0;
    padding: 0;
    border: 0;
  }
}

.dialog-header {
  padding-bottom: 0 !important;
  // .dialog-title-close {
  //   display: inline-block;
  //   width: 40px;
  //   height: 40px;
  //   line-height: 40px;
  //   text-align: center;
  //   background: #f4f9fd;
  //   border-radius: 8px;
  // }
  .close {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      background: #f4f9fd;
    }
  }
}
// 居中的圆角弹窗
.dialog-round {
  border-radius: 12px !important;
  min-width: 500px;
  min-height: 320px;
}
// 居中的圆角确认弹窗
.dialog-round-confirm {
  border-radius: 12px !important;
  .header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .header-l {
      display: flex;
      align-items: center;
      img {
        width: 23px;
        height: 23px;
        margin-right: 8px;
      }
      .title {
        font-weight: bold;
        font-size: 18px;
        color: #222222;
        line-height: 23px;
        letter-spacing: 1px;
      }
    }
    .header-r {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 8px;
      &:hover {
        background: #f4f9fd;
      }
    }
  }
  .confirm-content {
    font-weight: 400;
    font-size: 16px;
    color: #a8a8a8;
    margin-top: 20px;
    margin-bottom: 25px;
  }
}
// 登录弹窗
.dialog-login {
  border-radius: 12px !important;
  min-width: 500px;
  min-height: 320px;
  padding: 30px 40px !important;
  .phoneImg {
    width: 24px;
  }
  .codeImg {
    width: 24px;
  }
  .checked {
    font-size: 13px;
    .link {
      color: #3f8cff;
    }
  }
  .other {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    font-size: 14px;
    color: #999999;
    * {
      cursor: pointer;
      user-select: none;
    }
    img {
      margin-right: 5px;
      width: 16px;
    }
  }
}

.login-dialog {
  // border: 1px solid #de1717;
  .close-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  .el-form-item:last-child {
    margin-bottom: 0;
  }
}
.dialog-footer {
  display: flex;
  justify-content: center;
}

.float-drawer {
  right: 20px !important;
  height: auto !important;
  top: 100px !important;
  bottom: 100px !important;
  border-radius: 12px;
  box-shadow: 0px 2 10px 0px rgba(82, 88, 151, 0.25);
  .el-drawer__body {
    padding: 0;
    padding-bottom: 10px;
  }
  // 联网搜索展示
  .source-wrap {
    flex: 1;
    padding: 20px;
    background-color: #fcfcfc;
    padding-bottom: 10px;
    overflow-y: auto;
    .source-item {
      background-color: #fff;
      border: 1px solid #eaeaea;
      box-shadow: 0px 2 10px 0px rgba(82, 88, 151, 0.25);
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 10px;
      .source-content {
        .name {
          color: #333;
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 10px;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          overflow: hidden;
        }
        .content {
          font-size: 14px;
          color: #666666;
          margin-bottom: 10px;
          padding-bottom: -4px;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          overflow: hidden;
          height: 3em; /* 控制容器高度，确保能显示两行 */
          line-height: 1.5em; /* 设置行高 */
          word-break: break-all;
        }
      }
      .source-bottom {
        display: flex;
        align-items: center;
        overflow: hidden;
        vertical-align: middle;
        font-size: 15px;
        .sitename {
          color: #999;
          padding-left: 5px;
          padding-right: 10px;
          margin-right: 10px;
          border-right: 1px solid #999;
          line-height: 15px;
        }
        .icon {
          width: 15px;
          vertical-align: middle;
        }
        .url {
          padding-right: 10px;
          flex: 1;
        }
      }
    }
  }
  // 引用来源展示
  .ref-content {
    padding: 0 16px;
    .file-title {
      flex: 1;
      position: relative;
      display: flex;
      align-items: center;
      .filename {
        width: 100%;
        overflow: hidden;
        word-break: break-all;
        font-weight: bold;
        font-size: 16px;
        color: #333;
        line-height: 1.4;
      }
      .download {
        cursor: default;
        display: inline-block;
        white-space: nowrap;
        margin-left: 5px;
        background: #0281dd;
        background: linear-gradient(270deg, #269efd 0%, #1677fe 100%);
        border-radius: 6px;
        color: #fff;
        font-size: 14px;
        height: 26px;
        line-height: 26px;
        width: 44px;
        text-align: center;
      }
      .jumpSource {
        display: inline-block;
        white-space: nowrap;
        border-radius: 5px;
        margin-left: 5px;
        background: #fff;
        border: 1px solid #0281dd;
        color: #0281dd;
        font-size: 14px;
        padding: 2px 5px;
        line-height: 1;
        img {
          width: 20px;
          height: 20px;
          vertical-align: middle;
        }
      }
    }
    .source-content {
      background-color: #fcfcfc;
      border-radius: 10px;
      font-size: 14px;
      flex: 1;
      overflow-y: auto;
      .info {
        font-size: 14px;
        padding: 10px;
        background-color: #fff;
        img {
          width: 100%;
        }
        @include content-style;
        @include table-style;
        table {
          max-width: 100%;
          width: auto !important; /* 覆盖内联样式 */
          display: block;
          overflow-x: auto;
          white-space: nowrap; /* 保持表格不换行 */
        }
      }
    }
  }
}
.float-modal {
  background: none;
  background-color: transparent !important;
}
.float-header {
  padding: 10px 10px 0 16px !important;
  margin: 0 !important;
}

// 用于展示评价类型
.tags-content {
  margin-bottom: 20px;
  .tags {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    .tag {
      background-color: #f4f4f4;
      border-radius: 20px;
      padding: 10px 20px;
      margin-right: 10px;
      margin-bottom: 10px;
      cursor: pointer;
    }
    .active {
      background: linear-gradient(90deg, #269efd 0%, #1677fe 100%);
      color: white;
    }
  }
  .item {
    color: #c9c9cc;
    font-size: 14px;
    input {
      width: 100%;
      height: 50px;
      border: none;
      border-bottom: 1px solid #c9c9cc;
      color: #222;
    }
  }
}

.exchange-model-popover {
  padding: 0 !important;
  border-radius: 16px !important;
  .popover-content {
    border-radius: 16px;
    overflow-y: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    max-height: 300px;
    overflow-y: auto;
    position: relative;
    // 隐藏滚动条
    &::-webkit-scrollbar {
      display: none;
    }
    .exchange-text {
      position: -webkit-sticky;
      /* Safari */
      padding-bottom: 5px;
      padding-left: 12px;
      padding-top: 10px;
      background-color: #fff;
      font-weight: 600;
      font-size: 15px;
      color: #bcbcbc;
      // 固定在父元素顶部
      position: sticky;
      top: 0;
      z-index: 999;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .model-item {
      margin: 0 10px;
      display: flex;
      padding: 5px;
      border-radius: 8px;
      position: relative;
      padding-right: 35px;

      &-info {
        flex: 1;
        cursor: pointer;
      }

      &-text {
        font-size: 15px;
        color: #333;
        font-weight: 500;
      }

      &-des {
        font-size: 12px;
        color: #aaaaaa;
        // 超过两行省略
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }

      .check {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
      }

      img {
        width: 20px;
        height: 20px;
        margin-top: 2px;
        margin-right: 10px;
        // border-radius: 50%;
      }
    }

    .active {
      background-color: #f2f2f2;

      .model-item-text {
        color: #000;
      }

      .model-item-des {
        color: #555555;
      }

      .check {
        background-image: url("./assets/img/check.png");
        background-size: 100% 100%;
      }
    }
  }
}

.history-item-popover {
  border-radius: 8px !important;
  box-shadow: 0px 6 40px 0px rgba(121, 145, 173, 0.3) !important;
  .history-item-popover-content {
    .options-item {
      display: flex;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      user-select: none;
      border-radius: 5px;
      &:hover {
        background-color: #f2f2f2;
      }
    }
  }
}

.el-popper.is-customized {
  border-radius: 10px;
  background-color: #333;
  color: #fff;
}
.el-popper.is-customized .el-popper__arrow::before {
  background-color: #333;
  right: 0;
  top: -2px;
}
